<hr>
<strong>
  <p style ="color:CadetBlue;"> Alterar categoria de estudo  </p>
</strong>
<hr>

<br>
<%= render 'form', study_category: @study_category %>
<hr>
<%= link_to 'Visualizar', @study_category %> |
<%= link_to 'Página inicial', study_categories_path %>
