<hr>
<strong>
  <p style ="color:CadetBlue;"> Nova categoria de estudo  </p>
</strong>
<hr>

<%= render 'form', study_category: @study_category %>
<br>
<%= link_to 'Voltar para CATEGORIAS', study_categories_path %>
