<p id="notice"><%= notice %></p>
<hr>
<strong>
  <p style ="color:CadetBlue;"> Detalhes de categoria de estudo  </p>
</strong>
<hr>

<p>
  <strong>Title:</strong>
  <%= @study_category.title %>
</p>

<%= link_to 'Editar', edit_study_category_path(@study_category) %> |
<%= link_to 'Voltar', study_categories_path %>
