<hr>
<strong>
  <p style ="color:CadetBlue;"> Alterar item de estudo  </p>
</strong>
<hr>

<%= render 'form', study_item: @study_item %>

<%= link_to 'Visualizar', @study_item %> |
<%= link_to 'Página inicial', study_items_path %>
</center>