<hr>
<h5 style="color:CadetBlue;">Cadastrar um novo tópico de estudo</h5>
<hr>

<%= render 'form', study_item: @study_item %>

<%= link_to 'CADASTRAR OUTRA CATEGORIA', study_categories_path %>
<hr>
<%= link_to 'HOME', study_items_path %>
