footer { margin-top: 200px; vertical-align: middle;}
table, td, th { vertical-align: middle; border: 10px; }
th { border-bottom: 1px solid rgb(127, 204, 248); }
body { padding-top: 20px; margin: 10; }
